In [1]:
#import neccessary libraries
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [2]:
#load the dataset
df=pd.read_csv(r"C:\Users\kumar\Academic_Decision_Support_System\data\synthetic\student_academic_data.csv")
df.head()

,class,stream,previous_marks,study_hours,absences,family_support,school_support,pass_fail,physics,chemistry,biology,maths,english,computer,commerce_sub,arts_sub
0,11,Arts,50,1.358103,2,0,1,0,NaN,NaN,NaN,NaN,90,NaN,NaN,39.0
1,12,Arts,82,5.834504,11,1,0,1,NaN,NaN,NaN,NaN,51,NaN,NaN,27.0
2,9,General,89,2.514990,13,0,1,1,83.0,66.0,NaN,82.0,46,73.0,NaN,NaN
3,12,Arts,36,1.437883,6,0,1,0,NaN,NaN,NaN,NaN,80,NaN,NaN,27.0
4,10,General,73,3.223473,14,0,0,1,84.0,95.0,NaN,33.0,77,26.0,NaN,NaN

In [3]:
#checking null values
df.isnull().sum()

class                0
stream               0
previous_marks       0
study_hours          0
absences             0
family_support       0
school_support       0
pass_fail            0
physics           1254
chemistry         1254
biology           4377
maths             1241
english              0
computer          1241
commerce_sub      4364
arts_sub          4382
dtype: int64

In [4]:
# handle missing subject scores
subject_cols = [
    "physics","chemistry","maths","biology",
    "english","computer","commerce_sub","arts_sub"
]

df[subject_cols] = df[subject_cols].fillna(0)

In [5]:
# encoding Categorical Variables

le = LabelEncoder()
df["stream_encoded"] = le.fit_transform(df["stream"])
df["family_support"] = df["family_support"].astype(int)
df["school_support"] = df["school_support"].astype(int)

In [6]:
# create a avgerage score feature
df["avg_marks"] =( df[subject_cols].mean(axis=1))*2

In [7]:
# create a attendance score feature
df["attendance_score"] = 1 - (df["absences"] / 15)

In [8]:
# feature selection
features = [
    "avg_marks",
    "previous_marks",
    "study_hours",
    "attendance_score",
    "family_support",
    "school_support"
]

X = df[features]
y = df["pass_fail"]

In [9]:
# Save the cleaned dataset
cleaned_path = "C:\\Users\\kumar\\Academic_Decision_Support_System\\data\\processed\\student_performance_cleaned.csv"


final_df = pd.concat([X, y], axis=1)
final_df.to_csv(cleaned_path, index=False)


print("ML-ready dataset saved to:", cleaned_path)

ML-ready dataset saved to: C:\Users\kumar\Academic_Decision_Support_System\data\processed\student_performance_cleaned.csv