In [18]:
#import neccessary libraries
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [19]:
#load the dataset
df=pd.read_csv(r"C:\Users\kumar\Academic_Decision_Support_System\data\raw\student-mat.csv",sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [20]:
# PASS RATE ANALYSIS
df["pass_fail"] = df["G3"].apply(lambda x: "Pass" if x >= 10 else "Fail")

df["pass_fail"].value_counts()

pass_fail
Pass    265
Fail    130
Name: count, dtype: int64

In [24]:
# Select Important Features
features = ["studytime", "absences", "famsup", "schoolsup","G1","G2"]
X = df[features]
y = df["pass_fail"]

X.head()

   studytime  absences famsup schoolsup  G1  G2
0          2         6     no       yes   5   6
1          2         4    yes        no   5   5
2          2        10     no       yes   7   8
3          3         2    yes        no  15  14
4          2         4    yes        no   6  10

In [25]:
# encoding Categorical Variables

le = LabelEncoder()

X["famsup"] = le.fit_transform(X["famsup"])
X["schoolsup"] = le.fit_transform(X["schoolsup"])

X.head()

C:\Users\kumar\AppData\Local\Temp\ipykernel_23752\2811724395.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["famsup"] = le.fit_transform(X["famsup"])
C:\Users\kumar\AppData\Local\Temp\ipykernel_23752\2811724395.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["schoolsup"] = le.fit_transform(X["schoolsup"])

   studytime  absences  famsup  schoolsup  G1  G2
0          2         6       0          1   5   6
1          2         4       1          0   5   5
2          2        10       0          1   7   8
3          3         2       1          0  15  14
4          2         4       1          0   6  10

In [26]:
# Save the cleaned dataset
cleaned_path = "C:\\Users\\kumar\\Academic_Decision_Support_System\\data\\processed\\student_performance_cleaned.csv"

final_df = X.copy()
final_df["pass_fail"] = y

final_df.to_csv(cleaned_path, index=False)

print("Saved cleaned dataset to:", cleaned_path)

Saved cleaned dataset to: C:\Users\kumar\Academic_Decision_Support_System\data\processed\student_performance_cleaned.csv